*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #BDD684;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

.container{ /*toda a pagina*/
    display: flex; 
    flex-direction: column; /*quis organizar todo o conteudo dentro */
    min-height: 100vh; /*peguie meu container inteiro e deixei do tamanho da janela do navegador*/
}



header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    border: 3px solid black;
}


nav{
    width: 100%;
    min-height: 2em;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    padding: 5px;
}


nav ul{
    display: flex;
    list-style: none; /*define as bolinhas na lista */ 
}


nav ul li{
    text-decoration: none;
    display: inline-block;
    padding: 10px 50px; /* Tenho q colcoar o padding no link, para que o botão fique totalmente clicável*/
    color: bisque;
    border-radius: 5px;
}


nav ul li a:hover{
    background-color: antiquewhite;
    color: black;

}


main{
    
    width: 100%;
    /* min-height: calc(100vh - 200px); */
    flex-grow: 1;
    border-bottom: 3px solid black;

}


main p{
    text-align: center;
    font-size: 25px;
}


main img{
    justify-items: center;
    width: 1000px;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px 10px 10px 10px;
}


 footer{
    width: 100%;
    min-height: 3em;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;

}


footer p{
    font-size: 1.5em;
    color: darkgreen;
    background-color: black;
}


.paginas{
    display: flex;
    flex-direction: row;
    gap: 180px;
}


.problema{
    border-radius: 10px;
    background-color: #295c00;
    padding: 3px;
    color: white;
    text-decoration: none;
}

.publico{
    border-radius: 10px;
    background-color: #295c00;
    padding: 3px;
    color: white;
    text-decoration: none;
}

.tecnologia{
    border-radius: 10px;
    background-color: #295c00;
    padding: 3px;
    color: white;
    text-decoration: none;
}

.objetivos{
    border-radius: 10px;
    background-color: #295c00;
    padding: 3px;
    color: white;
    text-decoration: none;
}

.beneficios{
    border-radius: 10px;
    background-color: #295c00;
    padding: 3px;
    color: white;
    text-decoration: none;
}

.texto{
    display: flex;
    align-items: center;
    align-content: center;
    color: white;
    padding: 100px;  
    flex-direction: column;
    font-size: 38px;
    
}